<div class="jumbotron">
  <h1>Welcome to Aleksey-gamedeals</h1>
  <p>Sign up to be notified when all of your favorite games, consoles, and more go on sale! It's super easy and you'll never have to search the internet endlessly to find them. Sign up now!</p>
  <p><%= link_to "Sign up now", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>
