<div class="row">
  <div class="col-sm-6">
    <div class="page-header">
      <h2>My tracked games</h2>
    </div>
    <% if @games.any? %>
      <ul>
        <% @games.each do |game| %>
          <li><%= game %>  -  <%= link_to "remove", game_path(game), method: :delete %></li>
        <% end %>
      </ul>
    <% else %>
      <p>You don't have any games! Add some by clicking the button below</p>
    <% end %>
  </div>
  <div class="col-sm-6">
    <div class="page-header">
      <h2>Top games</h2>
    </div>
    <ul>
      <% @top_games.each do |game| %>
        <li><%= game %></li>
      <% end %>
    </ul>
  </div>
</div>

<hr>
<%= link_to "Add a new game", new_game_path, class: "btn btn-primary" %>

